
{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="brand"><img class= "brand-logo" src="https://clipground.com/images/pet-shop-logo-clipart-5.jpg" alt="Logo Petshop">
        <div class="menu">
            <div class="inventory-toko">
                <p class="inventory-toko"><a href="">Inventori Toko</a></p>
            </div>
        </div>
        </div>
    </nav>
    <div class="container">
        <div class="category">
            <div class="header-category">
                
                <div class="except-hr">
                    <a href="{% url 'main:create_product' %}">
                        <button>
                            Add New Product
                        </button>
                    </a>
                    <h3 class="available-stock">Daftar Barang <span>New</span></h3>
                </div>
                <hr>
                
            </div>
            <div class="table-category">
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Pembaruan Terakhir</th>
                        <th>Nama Barang</th>
                        <th>Deskripsi Barang</th>
                        <th>Sisa Stock</th>
                        <th>Harga Satuan</th>
                    </tr>
                    {% for item in products %}
                    <tr>
                        <td><p class="table_content">{{ item.no }}</p></td>
                        <td><p class="table-content">{{ item.date }}</p></td>
                        <td><p class="table-content">{{ item.name }}</p></td>
                        <td><p class="table-content">{{ item.description }}</p></td>
                        <td><p class="table-content">{{ item.amount }}</p></td>
                        <td><p class="table-content">{{ item.price }}</p></td>
                    </tr>
                    {% endfor %}
                </table>
                <br />
            </div>
        </div>
    </div>
{% endblock content %}